BOT_TOKEN=Your_Bot_Token
WEEK_ACCOUNT=Your_Week_USDT_CryptoBot_Href
MONTH_ACCOUNT=Your_Month_USDT_CryptoBot_Href
THREE_MONTH_ACCOUNT=Your_Three_Month_USDT_CryptoBot_Href
YEAR_ACCOUNT=Your_Year_USDT_CryptoBot_Href