aiofiles
aiogram
aiohttp
aiosignal
alembic
annotated-types
anyio
APScheduler
async-timeout
asyncpg
attrs
certifi
click
colorama
exceptiongroup
fastapi
frozenlist
greenlet
h11
idna
magic-filter
Mako
MarkupSafe
multidict
pydantic
pydantic_core
python-dotenv
pytz
six
sniffio
SQLAlchemy
starlette
typing_extensions
tzdata
tzlocal
uvicorn
yarl
redis
apscheduler-di
